@font-face {
	font-family: jungle;
	src: url(JUNGLEFE.TTF)
}

body {
    background-color: lightgrey;
    width: 100%;
	height:100%;
	margin: 0 auto;
	padding: 5px 0;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: center;
    font-family: jungle;
	font-size: 2em;
}

img {
    width: 730px;
    padding: 10px;
    margin: 0 auto;
    background-color: black;
}

form {
    margin: 0 auto;
    text-align: center;
}

input[type=number] {
    width: 50px;
    text-align: center;
    font-family: jungle;
    font-size: 1em;
}

a, input[type=button] {
    display: block;
    width: 250px;
    background-color: purple;
    color: white;
    text-align: center;
	text-decoration: none;
	font-family: jungle;
	font-size: 1em;
    padding: 6px;
    margin: 5px auto;
    border-radius: 4px;
}

a:hover {
    color: yellow;
}

#bodyContent {
    width: 750px;
	height:100%;
    margin: 0 auto;
    padding: 25 5;
    background-color: white;
    font-family: jungle;
}

#title {
    text-align: center;
    font-family: jungle;
    font-size: 3em;
    color: black;
}

#msgUpdate {
    text-align: center;
    font-size: 4em;
    font-family: jungle;
    color: darkgreen;
}

#countdown {
    text-align: center;
    font-size: 12em;
    color: red;
    font-family: jungle;
}

#baseID {
    text-align: center;
    font-family: jungle;
}