[Unit]
Description=Photobooth
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/Code/pi-photobooth/src/mgp.py > /home/pi/photobooth.log 2>&1

[Install]
WantedBy=multi-user.target